.login.panel-default {
    border-color: #ddd;
    box-shadow: 13px 15px 10px #CCC;
	border-radius: 10px;
}

.login.panel-default>.panel-heading {
    color: #fff;
    background-color: #f75f13;
    border-color: #f75f13;
}
button.btn.responsive-width{
    background: #F75F13;
    border: none;
    color: #fff;
	cursor: pointer;
}
